.body {
    background-image: url("../img/bg.jpg");
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
.title-font {
    font-family: 'Merriweather', sans-serif;
}
.content {
    width: 100%;
    margin-top: 30px;
}
.wrapper {
    width: 80%;
    margin: auto;
    min-width: 370px;
}
.hidden {
    display: none;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .booking-form {
        width: 100%;
        border-radius: 5px;
        background-color: rgba(0, 0, 0, 0.2);
        margin: auto;
        padding-top: 10px;
    }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .booking-form {
        width: 85%;
        border-radius: 5px;
        background-color: rgba(0, 0, 0, 0.2);
        margin: auto;
        padding: 8px;
    }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .booking-form {
        width: 80%;
        border-radius: 5px;
        background-color: rgba(0, 0, 0, 0.2);
        margin: auto;
        padding: 8px;
    }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .booking-form {
        width: 70%;
        border-radius: 5px;
        background-color: rgba(0, 0, 0, 0.2);
        margin: auto;
        padding: 8px;
    }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .booking-form {
        position: relative;
        width: 50%;
        border-radius: 5px;
        background-color: rgba(0, 0, 0, 0.2);
        margin: auto;
        padding: 8px;
    }
}
/* Form Styles */
.form-heading {
    text-align: center;
    color: white;
}
.form-subtitle {
    text-align: center;
    padding: 10px 15px;
    margin: auto;
    width: 90%;
    color: white;
}
.form-label {
    display: block;
    margin-left: 5%;
    font-size: 1.1em;
    font-weight: bold;
    padding: 10px 0px;
    color: white;
}
.form-input {
    display: block;
    margin: auto;
    width: 90%;
    padding-left: 5px;
    outline: none;
    line-height: 2em;
    border: 2px solid #0276c8;
    border-radius: 5px;
}
.form-input-text {
    padding: 5px;
}
.form-input-select {
    padding: 5px;
}
.form-submit {
    text-align: center;
    font-weight: bold;
    display: block;
    margin: 15px auto 15px auto;
    padding: 15px;
    width: 90%;
    border-radius: 5px;
    color: white;
    border: 2px solid #0276c8;
    background-color: #0276c8;
    -webkit-appearance: none;
}
.form-submit:hover {
    border: 2px solid white;
    cursor: pointer;
    border-radius: 5px;
}
/* Remove Scroll */
input[type="number"]::-webkit-outer-spin-button, 
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}
.form-input-number:disabled {
    background-color: white;
    color: black;
}
.error-input {
    border: 2px solid lightcoral;
}
.error-bubble {
    color: lightcoral;
    border: 1px solid lightcoral;
    font-weight: bold;
    position: absolute;
    margin-left: 5%;
    margin-top: 10px;
    background-color: rgba(255, 255, 255);
    padding: 5px 15px;
    border-radius: 5px;
}
.error-bubble:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 5px solid lightcoral;
    border-right: 5px solid transparent;
    border-bottom: 5px solid lightcoral;
    border-top: 5px solid transparent;
    top: -10px;
}

/* Booking Confirmation and Compare */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .booking-thanks {
        width: 100%;
        border-radius: 5px;
        background-color: rgba(0, 0, 0, 0.2);
        margin: auto;
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .booking-thanks {
        width: 100%;
        border-radius: 5px;
        background-color: rgba(0, 0, 0, 0.2);
        margin: auto;
        padding: 8px;
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .booking-thanks {
        width: 90%;
        border-radius: 5px;
        background-color: rgba(0, 0, 0, 0.2);
        margin: auto;
        padding: 8px;
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .booking-thanks {
        width: 90%;
        border-radius: 5px;
        background-color: rgba(0, 0, 0, 0.2);
        margin: auto;
        padding: 8px;
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .booking-thanks {
        position: relative;
        width: 90%;
        border-radius: 5px;
        background-color: rgba(0, 0, 0, 0.2);
        margin: auto;
        padding: 8px;
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
.primary-booking {
    display: block;
    margin-top: 15px;
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
    .grid-container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        background-color: white;
    }
    .g-item1 {
        flex-grow: 2;
        text-align: center;
    }
    .g-item2 {
        flex-grow: 2;
        position: relative;
        text-align: center;
    }
    .g-item3 {
        margin-top: 40px;
        margin-bottom: 40px;
        position: relative;
    }
    .g-item3 div {
        border-top: 4px solid #0276c8;
        border-radius: 5px;
        width: 50px;
        margin: 0;
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .g-item4 {
        flex-grow: 1;
        text-align: center;
    }
    .g-item5 {
        flex-grow: 1;
        text-align: center;
        margin-bottom: 40px;
    }
    .min-padding {
       padding: 0px 5px;
    }
    .book-button {
        margin-bottom: 20px;
        padding: 8px;
        background-color: #4CAF50;
        color: white;
        border: 2px solid #4CAF50;
        border-radius: 5px;
    }
    .book-button:hover {
        border: 2px solid black;
        cursor: pointer;
    }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 600px) {
    .grid-container {
        display: flex;
        background-color: white;
    }
    .g-item1 {
        flex-grow: 2;
        text-align: center;
        margin-left: -80px;
    }
    .g-item2 {
        flex-grow: 2;
        position: relative;
    }
    .g-item2 span {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 20%;
        transform: translate(-50%, -50%);
    }
    .g-item3 {
        margin-right: 40px;
        position: relative;
    }
    .g-item3 div {
        border-right: 4px solid #0276c8;
        border-radius: 5px;
        height: 50px;
        margin: 0;
        position: absolute;
        top: 50%;
        left: 20%;
        transform: translate(-50%, -50%);
    }
    .g-item4 {
        flex-grow: 1;
        align-content: flex-end;
        width: 150px;
    }
    .g-item5 {
        flex-grow: 1;
        text-align: center;
    }
    .book-button {
        margin-bottom: 20px;
        padding: 8px;
        background-color: #4CAF50;
        color: white;
        border: 2px solid #4CAF50;
        border-radius: 5px;
    }
    .book-button:hover {
        border: 2px solid black;
        cursor: pointer;
    }
    .hotel-logo {
        width: 100px;
        margin-top: 10px;
    }
    .total-amount {
        font-size: 1.2em;
    }
}
.line-break {
    width: 10%;
    border: 4px solid #0276c8;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 30px;
}
.home-button {
    text-align: center;
    font-weight: bold;
    display: block;
    margin: 15px auto 15px auto;
    padding: 15px;
    width: 100%;
    border-radius: 5px;
    color: white;
    border: 2px solid #0276c8;
    background-color: #0276c8;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    opacity: 1
}
.home-button:hover {
    border: 2px solid white;
    cursor: pointer;
    border-radius: 5px;
}
/* Sign in section */
.signin-form {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 10px;
}
.signin-heading {
    text-align: center;
    color: white;
}
.signin-subtitle {
    text-align: center;
    padding: 0px 15px;
    color: white;
}
.signin-label {
    display: block;
    font-size: 1.1em;
    font-weight: bold;
    padding: 10px 0px;
    text-align: center;
    color: white;
}
.signin-input {
    display: block;
    margin: auto;
    width: 300px;
    padding-left: 5px;
    outline: none;
    line-height: 2em;
    border: 2px solid #0276c8;
    text-align: center;
    font-weight: bold;
}
.form-input-text {
    padding: 5px;
    border-radius: 5px;
}
.form-input-select {
    padding: 5px;
    border-radius: 5px;
}
.signin-submit {
    display: block;
    text-align: center;
    font-weight: bold;
    margin: 20px auto;
    padding: 12px;
    width: 300px;
    border-radius: 5px;
    border: 2px solid #0276c8;
    background-color: #0276c8;
    color: white;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    opacity: 1
}
.signin-submit:hover {
    border: 2px solid white;
    cursor: pointer;
    border-radius: 5px;
}
.logout-button {
    text-align: center;
    font-weight: bold;
    display: block;
    margin: 15px auto 15px auto;
    padding: 15px;
    width: 90%;
    border-radius: 5px;
    color: white;
    background-color: black;
    border: 2px solid black;
}
.logout-button:hover {
    border: 2px solid white;
    cursor: pointer;
    border-radius: 5px;
}
.no-styles {
    text-decoration: none;
}
.logout-button-booking {
    text-align: center;
    font-weight: bold;
    display: block;
    margin: 15px auto 15px auto;
    padding: 15px;
    width: 100%;
    border-radius: 5px;
    color: white;
    background-color: black;
    border: 2px solid black;
}
.logout-button-booking:hover {
    border: 2px solid white;
    cursor: pointer;
    border-radius: 5px;
}