.body {
    background-image: url("../img/bg.jpg");
    background-size: cover;
    font-family: 'Merriweather', serif;
    margin: 0;
}
.content {
    width: 100%;
    margin-top: 30px;
}
.wrapper {
    width: 80%;
    margin: auto;
    min-width: 370px;
}
.hidden {
    display: none;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .booking-form {
        width: 100%;
        border-radius: 5px;
        background-color: rgba(0, 0, 0, 0.2);
        margin: auto;
        padding: 8px;
    }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .booking-form {
        width: 85%;
        border-radius: 5px;
        background-color: rgba(0, 0, 0, 0.2);
        margin: auto;
        padding: 8px;
    }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .booking-form {
        width: 80%;
        border-radius: 5px;
        background-color: rgba(0, 0, 0, 0.2);
        margin: auto;
        padding: 8px;
    }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .booking-form {
        width: 70%;
        border-radius: 5px;
        background-color: rgba(0, 0, 0, 0.2);
        margin: auto;
        padding: 8px;
    }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .booking-form {
        position: relative;
        width: 50%;
        border-radius: 5px;
        background-color: rgba(0, 0, 0, 0.2);
        margin: auto;
        padding: 8px;
    }
}
/* Form Styles */
.form-heading {
    text-align: center;
    color: white;
}
.form-subtitle {
    text-align: center;
    padding: 10px 15px;
    margin: auto;
    width: 90%;
    color: white;
}
.form-label {
    display: block;
    margin-left: 5%;
    font-size: 1.1em;
    font-weight: bold;
    padding: 10px 0px;
    color: white;
}
.form-input {
    display: block;
    margin: auto;
    width: 90%;
    padding-left: 5px;
    outline: none;
    line-height: 2em;
    border: 2px solid #0276c8;
}
.form-input-text {
    padding: 5px;
}
.form-input-select {
    padding: 5px;
}
.form-submit {
    text-align: center;
    font-weight: bold;
    display: block;
    margin: 15px auto 15px auto;
    padding: 15px;
    width: 90%;
    border-radius: 5px;
    border: 2px solid #0276c8;
    background-color: #0276c8;
}
.form-submit:hover {
    border: 2px solid white;
    cursor: pointer;
    border-radius: 5px;
}
/* Remove Scroll */
input[type="number"]::-webkit-outer-spin-button, 
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}
.form-input-number:disabled {
    background-color: white;
    color: black;
}
.error-input {
    border: 2px solid red;
}
.error-bubble {
    color: red;
    border: 1px solid red;
    font-weight: bold;
    position: absolute;
    margin-left: 5%;
    margin-top: 10px;
    background-color: rgba(255, 255, 255);
    padding: 5px 15px;
    border-radius: 5px;
}
.error-bubble:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 5px solid red;
    border-right: 5px solid transparent;
    border-bottom: 5px solid red;
    border-top: 5px solid transparent;
    top: -10px;
}

/* Booking Confirmation and Compare */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .booking-comfirmation {
        width: 100%;
        border-radius: 5px;
        background-color: rgba(0, 0, 0, 0.2);
        margin: auto;
        padding: 8px;
    }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .booking-comfirmation {
        width: 100%;
        border-radius: 5px;
        background-color: rgba(0, 0, 0, 0.2);
        margin: auto;
        padding: 8px;
    }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .booking-comfirmation {
        width: 90%;
        border-radius: 5px;
        background-color: rgba(0, 0, 0, 0.2);
        margin: auto;
        padding: 8px;
    }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .booking-comfirmation {
        width: 90%;
        border-radius: 5px;
        background-color: rgba(0, 0, 0, 0.2);
        margin: auto;
        padding: 8px;
    }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .booking-comfirmation {
        position: relative;
        width: 90%;
        border-radius: 5px;
        background-color: rgba(0, 0, 0, 0.2);
        margin: auto;
        padding: 8px;
    }
}
.primary-booking {
    display: block;
    margin-top: 15px;
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
    .grid-container {
        width: 100%;
        text-align: center;
        font-weight: bold;
        display: grid;
        border: 1px solid #0276c8;
        background-color: white;
        grid-template-columns: auto auto auto auto;
        align-content: center;
    }
    .g-item1 {
        grid-column-start: 1;
        grid-column-end: 3;
        border: 1px solid #0276c8;
    }
    .g-item2 {
        grid-row-start: 2;
        grid-row-end: 3;
        border: 1px solid #0276c8;
    }
    .g-item3 {
        grid-row-start: 2;
        grid-row-end: 3;
        border: 1px solid #0276c8;
    }
    .g-item4 {
        grid-row-start: 1;
        grid-row-end: 3;
        border: 1px solid #0276c8;
    }
    .g-item5 {
        grid-row-start: 1;
        grid-row-end: 3;
        border: 1px solid #0276c8;
    }
    .min-padding {
       padding: 0px 5px;
    }
    .hotel-logo {
        display: none;
    }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 600px) {
    .grid-container {
        width: 100%;
        align-content: center;
        text-align: center;
        font-weight: bold;
        display: grid;
        border: 1px solid #0276c8;
        background-color: white;
        grid-template-columns: auto auto 300px auto;
    }
    .g-item1 {
        grid-row-start: 1;
        grid-row-end: 3;
        border: 1px solid #0276c8;
    }
    .g-item2 {
        grid-row-start: 1;
        grid-row-end: 2;
        border: 1px solid #0276c8;
        text-align: left;
        padding-top: 22px;
        padding-left: 10px;
        font-size: 1.6em;
    }
    .g-item3 {
        grid-row-start: 2;
        grid-row-end: 3;
        border: 1px solid #0276c8;
        text-align: left;
        padding-top: 22px;
        padding-left: 10px;
        font-size: 1.6em;
    }
    .g-item4 {
        grid-row-start: 1;
        grid-row-end: 3;
        padding: 12px;
        border: 1px solid #0276c8;
    }
    .g-item5 {
        grid-row-start: 1;
        grid-row-end: 3;
        border: 1px solid #0276c8;
    }
    .book-button {
        margin-bottom: 20px;
        padding: 8px;
        background-color: #0276c8;
        color: white;
        border: 2px solid #0276c8;
        border-radius: 5px;
    }
    .book-button:hover {
        border: 2px solid black;
        cursor: pointer;
    }
    .hotel-logo {
        width: 100px;
        margin-top: 10px;
    }
    .total-amount {
        font-size: 1.2em;
    }
    .rate {
        color: #0276c8;
    }
    .days {
        color: #0276c8;
    }
}
.home-button {
    text-align: center;
    font-weight: bold;
    display: block;
    margin: 15px auto 15px auto;
    padding: 15px;
    width: 100%;
    border-radius: 5px;
    border: 2px solid #0276c8;
    background-color: #0276c8;
}
.home-button:hover {
    border: 2px solid white;
    cursor: pointer;
    border-radius: 5px;
}
/* Sign in section */
.signin-heading {
    text-align: center;
    color: white;
    margin-top: 100px;
}
.signin-subtitle {
    text-align: center;
    padding: 0px 15px;
    color: white;
}
.signin-label {
    display: block;
    font-size: 1.1em;
    font-weight: bold;
    padding: 10px 0px;
    text-align: center;
    color: white;
}
.signin-input {
    display: block;
    margin: auto;
    width: 300px;
    padding-left: 5px;
    outline: none;
    line-height: 2em;
    border: 2px solid #0276c8;
    text-align: center;
    font-weight: bold;
}
.form-input-text {
    padding: 5px;
}
.form-input-select {
    padding: 5px;
}
.signin-submit {
    display: block;
    text-align: center;
    font-weight: bold;
    margin: 20px auto;
    padding: 12px;
    width: 300px;
    border-radius: 5px;
    border: 2px solid #0276c8;
    background-color: #0276c8;
    color: white;
}
.signin-submit:hover {
    border: 2px solid white;
    cursor: pointer;
    border-radius: 5px;
}
.logout-button {
    text-align: center;
    font-weight: bold;
    display: block;
    margin: 15px auto 15px auto;
    padding: 15px;
    width: 90%;
    border-radius: 5px;
    color: black;
    background-color: lightcoral;
    border: 2px solid lightcoral;
}
.logout-button:hover {
    border: 2px solid white;
    cursor: pointer;
    border-radius: 5px;
}
.no-styles {
    text-decoration: none;
}
.logout-button-booking {
    text-align: center;
    font-weight: bold;
    display: block;
    margin: 15px auto 15px auto;
    padding: 15px;
    width: 100%;
    border-radius: 5px;
    color: black;
    background-color: lightcoral;
    border: 2px solid lightcoral;
}
.logout-button-booking:hover {
    border: 2px solid white;
    cursor: pointer;
    border-radius: 5px;
}